@charset "UTF-8";

#page-wrapper {
  padding-left: 250px;
  
}

#d-flex{
	margin-top: 3px;
}

#btn-01{
	color: #fff;
    background-color: #0475f4;
    border-color: #fff;
    border-radius: 15px;
    border-width: 2px;
}

#btn-02{
	color: #0475f4;
    background-color: #fff;
    border-color: #0475f4;
    border-radius: 15px;
    border-width: 2px;
}

#map{
	z-index: 1;
}

#sidebar{
	z-index: 2;
}
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration:none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
}

#threebars{
	margin-top:15px;
	width: 20px;
  	height: 20px;
	overflow:hidden;
	object-fit:cover
}

body {
    height: 10000px;
}

.left-side-bar {
    background-color: #fff;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: left .3s;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 20%;
    white-space: nowrap;
    text-decoration: none;
    color:#0475f4;
    font-weight:bold;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar ul > li:hover > a {
    color: #fff;
    background-color: #0475f4;
}
