@charset "UTF-8";

#page-wrapper {
  padding-left: 250px;
  
}

#inform{
	display: block;
    padding: 10%;
    white-space: nowrap;
    text-decoration: none;
    color:#F45A5A;
    font-weight:bold;
    text-align:center;
    border:5px solid;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom:10px;
}
#inform:hover {
    color: #fff;
    background-color: #F45A5A;
}

select {
  width:160px;
  height:25px;
  font-size:16px;
}

#safe_senter{
  width:160px;
  height:25px;
  font-size:16px;
}

#move_tm {
  width:160px;
  height:25px;
  font-size:16px;
}

#btn-01{
	width:163px;
	color: #fff;
    background-color: #F45A5A;
    border-color: #fff;
    border-radius: 15px;
    border-width: 2px;
}

#btn-01:hover{
    color: #F45A5A;
    background-color: #fff;
    border-color: #F45A5A;
    border-radius: 15px;
    border-width: 2px;
    
}

#btn-02{
	width:163px;
	color: #fff;
    background-color: #F45A5A;
    border-color: #fff;
    border-radius: 15px;
    border-width: 2px;
}

#btn-02:hover{
	color: #F45A5A;
    background-color: #fff;
    border-color: #F45A5A;
    border-radius: 15px;
    border-width: 2px;
}

#map{
	z-index: 1;
}

#sidebar{
	z-index: 2;
}
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration:none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
}

body {
    height: 100%
}

th{
	width: 110px;
	text-align:center;
}

.left-side-bar {
    background-color: #fff;
    height: 100%;
    width: 330px;
    position: fixed;
    transition: left .3s;
    padding-top: 2%;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar_a {
    display: block;
    padding: 20%;
    white-space: nowrap;
    text-decoration: none;
    color:#F45A5A;
    font-weight:bold;
    text-align:center;
    border:5px solid;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar > a:hover {
    color: #fff;
    background-color: #F45A5A;
}


